.honda-info{
    background-color: #264653;
    padding:9px 25px;
 
}
.bike{
    color: #E76F51;

}
.client{
    color: #E76F51;
}
.star-info{
    color:#E76F51;
}
.star-info .empty{
    color: #aeaeae;
}
.btn-submit{
    background-color:#E76F51; 
}
.column-info img{
width: 180px;
height: 180px;
}
.model{
    color:#E76F51;
}
.frequently{
    color: #E76F51;
}
.couch{
    color: #23A6F0;

}
